* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: #27272a;
    height: auto;
}

header {
    width: 100%;
    height: 50px;
    margin: 40px auto;
    min-width: 750px;
}

footer {
    width: 100%;
    height: 150px;
    float: left;
}

h1 {
    margin: 30px auto 10px 50px;
    font: italic bold 25px sans-serif;
}

h2 {
    margin: 20px auto 10px 55px;
    font: italic 23px sans-serif;
}

input, textarea {
    width: 100%;
    border: hidden;
    background: #45494A;
    color: #bbbbbb;
    font: 15px sans-serif;
    padding-left: 10px;
}

.settings > .radio-btns {
    width: 50%;
    height: 50%;
    margin: 0px auto;
}

.radio-btns > input[type="radio"] {
    display: none;
}

.radio-btns > label {
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0;

    background: #45494A;
    color: #bbbbbb;
    font: 15px sans-serif;
    transition: .5s;

}

input[type="radio"]:checked + label {
    box-shadow: none;
    background: #bbbbbb;
    color: #45494A;
}

textarea {
    padding: 10px;
}

input:active {
    box-shadow: 0 0 5px rgba(72, 105, 167, 0.7);
}

select {
    width: 100%;
    border: hidden;
    background: #45494A;
    color: #bbbbbb;
    font: 15px sans-serif;
    padding-left: 10px;
    margin-right: 2px;
}

select > option {
    border: none;
}

select:active {
    box-shadow: 0 0 5px rgba(72, 105, 167, 0.7);
}

table {
    width: 80%;

}

table input {
    text-align: center;
    padding: 0;
}

th {
    font: italic bold 18px sans-serif;
    color: #bbbbbb;
    border-bottom: 2px solid #27272a;
}

td {
    font: 15px sans-serif;
    color: #bbbbbb;
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
}

button {
    width: 100%;
    height: 100%;
    border: none;
    background: #45494A;
    color: #bbbbbb;
    font: 15px sans-serif;
}

.hidden {
    display: none;
}

.close-btn {
    font: 20px sans-serif;
    color: #bbbbbb;
    width: 20px;
    height: auto;
    padding: 0;
    background: #3c3f41;
    border: hidden;
    position: absolute;
    top: 25px;
    right: 25px;
}

.main {
    background-color: #27272a;
    width: 100%;
    min-width: 750px;
    margin: 30px auto;
}

.decrypted {
    width: 50%;
    /*height: 500px;*/
    float: left;
}

.encrypted {
    width: 50%;
    /*height: 500px;*/
    float: left;
}

.encrypted textarea, .decrypted textarea {
    resize: none;
    overflow: hidden;
    overflow-x: auto;
    display: block;
    width: 90%;
    height: 150px;
    min-height: 150px;
    margin: 4px auto;
}

.settings {
    width: 90%;
    height: 25px;
    margin: 4px auto;
}

header > .settings {
    height: 100%;
}

.settings * {
    height: 100%;
}

.settings > span {
    padding: 5.5px 0;
    width: 50%;
    float: left;
    font: 14px sans-serif;
    color: #bbbbbb;
}

.alphabet {
    width: 25%;
    float: left;
}

.process{
    width: 25%;
    float: left;
    border-left: solid 2px #27272a;
}

.key > input {
    text-align: center;
    width: auto;
    max-width: 100%;
    padding: 0;
}

.key {
    text-align: center;
    height: 50%;
    width: auto;
    margin: 2px auto;
}

.method {
    width: 25%;
    float: left;
}

.cryptanalysis {
    width: 25%;
    border-left: solid 2px #27272a;
    float: left;
}

.user-created-alphabet, .step-by-step {
    width: 60%;
    height: auto;
    background: #3c3f41;
    position: absolute;
    top: 10%;
    left: 20%;
    margin: 4px auto;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
    font: 14px sans-serif;
    color: #bbbbbb;
    padding: 30px 0;
}

.user-created-alphabet .settings {
    width: 80%;
    float: left;
}

.content {
    margin: 20px auto 0px 70px;
}

.content > * {
    width: 80%;
}
.content > textarea{
    height: 200px;
    resize: none;
}

.mini-form {
    display: block;
    width: 80%;
    height: auto;
    margin: 10px 0px;
    overflow: hidden;
}

.mini-form > span {
    width: 60%;
    float: left;
}

.mini-form > input {
    width: 30%;
    float: left;
}

.mini-form > button {
    width: 10%;
    float: left;
    border-left: 2px solid #3c3f41;
}

.add, .delete {
    width: 25%;
    float: left;
}

.amount {
    width: 50%;
    float: left;
}

.first-cell {
    width: 20%;
}

.second-cell, .third-cell {
    width: 40%;
}

.chart {
    width: 80%;
    height: 500px;
    font: 14px sans-serif;
    color: #bbbbbb;
    background: #45494A;
    overflow: scroll;
    overflow-y: hidden;
}

.columns, .key-lengths {
    display: inline-block;
    width: 100%;
    height: 90%;
    white-space: nowrap;
}

.key-lengths {
    height: 10%;

}

.key-length, .column {
    width: 27px;
    height: 100%;
    margin: 0px 10px;
    text-align: center;
    display: inline-block;
    height: 100%;
    position: relative;
}

.column > div {
    height: 100px;
    width: 100%;
    background: #bbbbbb;
    position: absolute;
    bottom: 0;
}

.source {
    background: #45494A;
    color: #bbbbbb;
    font: 15px sans-serif;

}

.output {

    background: #bbbbbb;
    color: #45494A;
    font: 15px sans-serif;

}
